/* =======================
   MOBILE - até 375px
========================== */
@media (max-width: 375px) {
  body {
    min-height: 100vh;
    background: url("../images/bg-mobile.svg") no-repeat;
    background-color: var(--cor-primaria);
    background-size: contain;
    
  }

  .header {
    padding: 0px;
  }

  .header img {
    width: 150px;
    margin: 25px;
  }

  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .section-img img {
    width: 305px;
    margin: 30px auto 0 auto;
  }

  .section-text h1 {
    font-size: 2.5rem;
    margin: 10px auto 0 auto;
    width: 275px;
  }

  .section-text p {
    width: 336px;
    margin: 15px auto 30px auto;
    padding: 0 20px;
    line-height: 25px;
  }

  .section-text a {
    padding: 10px 30px;
  }

  .menu {
    margin: 30px;
    justify-content: center;
  }

  .menu ul {
    justify-content: center;
  }
}
