* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: hsl(257, 40%, 49%);
    --cor-secundaria: hsl(300, 69%, 71%);
}

html {
    font-size: 62.5%;
}

body {
    background: url("../images/bg-desktop.svg") center no-repeat;
    background-color: var(--cor-primaria);
    background-size: cover;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.header {
    padding: 55px 70px;
}

.header img {
    width: 220px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "imagem texto";
    gap: 50px;
}

.section-img {
    grid-area: imagem;
}

.section-img img {
    width: 709px;
    margin-left: 75px;
    margin-top: 40px;
}

.section-text {
    grid-area: texto;
}

.section-text h1, .section-text a {
    font-family: "Poppins", sans-serif;
}

.section-text h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 80px;
    width: 440px;
}

.section-text p {
    font-size: 18px;
    margin: 15px 75px 20px 0;
    width: 510px;
    line-height: 30px;
}

.section-text a {
    font-size: 18px;
    text-align: center;
    color: var(--cor-primaria);
    padding: 15px 55px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    width: 200px;
}

.section-text a:hover {
    background-color: var(--cor-secundaria);
    color: #fff;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 15px;
    margin-top: 15px;
    margin-right: -8px;
    margin-bottom: 50px;
}

.menu i {
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.menu i:hover {
    color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
}